<div class="row"  ...attributes>
  <div class='col-12'>
    <h3>Points</h3>
    <div class="mb-3">
      <input class="form-control"
        placeholder="Search Point"
        value={{this.query}}
        {{on "change" this.searchPoint}}
      />
    </div>
  </div>

  {{#each @points as |point|}}
    <Point @point={{point}} @updatePoints={{@updatePoints}} />
  {{/each}}
</div>
